html {
    scroll-behavior: smooth;
}

.entry-contact {
    background-image: url("/src/images/contact-opactiy.jpg");
    background-position: 50% 70%;
    display: block;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 12vh 10% 10% 10%;
}

.ct-btn-scroll {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 0 0 0;
    z-index: 2;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.contact-holder {
    display: block;
    height: 80vh;
    width: 100%;
    color: whitesmoke;
    background-color: #37414f;
    font-size: 1.5rem;
}

.contact-holder{
    position: unset;
    display: flex;
    text-align: left;
    padding: 24px 32px 24px 32px;
}

.contact-title {
    vertical-align: middle;
    font-size: 2rem;
    padding: 15% 32px 24px 32px;
}

.contact-info {
    display: block;
    justify-content: left;
    padding: 10%;
}

.contact-info p {
    padding: 12px 16px 16px 16px;
    margin: 0;
}

.contact-info a {
    text-decoration: none;
    color: #ff6b26;
}

.contact-entry {
    display: flex;
}

.contact-icon {
    margin: 16px;
}

.socials {
    display: inline-block;
    width: 100%;
    padding: 64px 64px 64px 64px;
    background-color: #ff6b26;
    justify-content: center;
    text-align: center;
    align-items: normal;
}

.social-icon {
    padding: 8px;
    text-decoration: none;
    color: black;
}
.twitter-icon {
    color: deepskyblue;
}

.footer {
    display: flex;
    padding: 48px;
    background-color: #37414f;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 800px) {
    .contact-info {
        display: block;
    }
    .contact-holder {
        display: block;
    }
}