.entry-home {
    background-image: url("/src/images/balloons-floating-opacity.jpg");
    background-position: 50% 70%;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 12vh 10% 10% 10%;
}

.header {
    text-align: center;
    padding: 32px;
    font-size: 3rem;
}

.introduction {
    text-align: center;
    vertical-align: middle;
    padding: 32px;
    margin: 64px 0 0 0;
    font-size: 1.75rem;
}

.box {
    display: block;
    text-align: center;
    padding: 5% 20% 0 20%;
    width: 100%;
}

.box-title {
    padding: 64px 20% 0 20%;
    font-size: 2rem;
 }

.box-subtitle {
    font-size: 1.5rem;
}

.box-paragraph {
    font-size: 1rem;
}

.button {
    margin: 32px 16px 32px 16px;
    width: 192px;
    height: 48px;
    color: whitesmoke;
    font-size: 1.5rem;
    background: none;
    border: solid #ff6b26 2px;
    text-decoration: none;
}
.button:hover {
    background-color: #ff6b26;
}

.preboxes-break {
    display: block;
    height: auto;
    width: 100%;
    color: whitesmoke;
    background-color: #72767d;
    font-size: 1.5rem;
}

.prebox {
    display: block;
    text-align: center;
    padding: 24px 32px 24px 32px;
}

.prebox-title {
    font-size: 2rem;
    padding: 32px 32px 24px 32px;
}

.prebox-paragraph {
    font-size: 1rem;
}

.prebox-button {
    margin: 48px;
}

.boxes {
    display: block;
    height: auto;
}

.left,
.right {
    float: left;
    height: 600px;
    width: 50%;
    padding: 0;
}

.first, .fifth {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

.second, .sixth {
    background-color: #222831;
    color: whitesmoke;
    justify-content: center;
}

.third, .seventh {
    background-color: #222831;
    color: whitesmoke;
}

.fourth, .eighth {;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

.box-image-1 {
    background-image: url("/src/images/solar-panels.jpg");
}

.box-image-2 {
    background-image: url("/src/images/mountain.jpg")
}

.box-image-3 {
    background-image: url("/src/images/forest.jpg")
}

.box-image-4 {
    background-image: url("/src/images/hot-air-balloon-fire.jpg")
}

.introduction-button {
    margin: 64px 0 0 0;
}

.socials {
    display: inline-block;
    width: 100%;
    padding: 64px 64px 64px 64px;
    background-color: #ff6b26;
    justify-content: center;
    text-align: center;
    align-items: normal;
}

.social-icon {
    padding: 8px;
    text-decoration: none;
    color: black;
}
.twitter-icon {
    color: deepskyblue;
}

.footer {
    display: flex;
    padding: 48px;
    background-color: #37414f;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}


@media (max-height: 900px) {
    .introduction-button {
        margin: 24px 0 0 0;
    }
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1.5rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1.5rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .third {
        order: 4;
    }
    .fourth {
        order: 3;
    }
    .fifth {
        order: 5;
    }
    .sixth {
        order: 6;
    }
    .seventh {
        order: 8;
    }
    .eighth {
        order: 7;
    }
}

@media only screen and (max-width: 1200px){
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1.5rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1.5rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .third {
        order: 4;
    }
    .fourth {
        order: 3;
    }
    .fifth {
        order: 5;
    }
    .sixth {
        order: 6;
    }
    .seventh {
        order: 8;
    }
    .eighth {
        order: 7;
    }
}

@media only screen and (max-width: 800px){
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
        height: 100vh;
    }
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .third {
        order: 4;
    }
    .fourth {
        order: 3;
    }
    .fifth {
        order: 5;
    }
    .sixth {
        order: 6;
    }
    .seventh {
        order: 8;
    }
    .eighth {
        order: 7;
    }
}