.entry {
    background-image: url("/src/images/balloons-floating.jpg");
    background-position: 50% 70%;
    display: block;
    width: 100%;
    height: 92vh;
    padding: 0;
}

.entry h1 {
    padding: 16px;
    font-size: 2em;
}

.entry p {
    padding: 16px;
    font-size: 1em;
}

.second {
    display: block;
    height: 50vh;
    width: 50%;
    padding: 16px;
}
