.entry {
    background-image: url("/src/images/balloons-floating-opacity.jpg");
    background-position: 50% 70%;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 10vh 10% 10% 10%;
}

.header {
    text-align: center;
    padding: 32px;
    font-size: 3rem;
}

.introduction {
    text-align: center;
    padding: 32px;
    margin: 64px 0 0 0;
    font-size: 1.75rem;
}

.box {
    display: block;
    text-align: center;
    padding: 5% 20% 0 20%;
    width: 100%;
}

.box-title {
    padding: 64px 0 0 0;
    font-size: 2rem;
 }

.box-subtitle {
    font-size: 1.5rem;
}

.box-paragraph {
    font-size: 1rem;
}

.button {
    margin: 32px 16px 32px 16px;
    width: 192px;
    height: 48px;
    color: whitesmoke;
    font-size: 1.5rem;
    background: none;
    border: solid #ff6b26 2px;
    text-decoration: none;
}
.button:hover {
    background-color: #ff6b26;
}

.preboxes-break {
    display: block;
    height: auto;
    width: 100%;
    color: whitesmoke;
    background-color: #72767d;
    font-size: 1.5rem;
}

.prebox {
    display: block;
    text-align: center;
    padding: 24px 32px 24px 32px;
}

.prebox-title {
    font-size: 2rem;
    padding: 32px 32px 24px 32px;
}

.prebox-paragraph {
    font-size: 1rem;
}

.prebox-button {
    margin: 48px;
}

.boxes {
    display: block;
    height: auto;
}

.left {
    float: left;
    height: 600px;
    width: 50%;
    padding: 0;
}
.right {
    float: left;
    height: 600px;
    width: 50%;
    padding: 0;
}

.second {
    background-image: url("/src/images/solar-panels.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

.third {
    background-color: #222831;
    color: whitesmoke;
    justify-content: center;
}

.fourth {
    background-color: #222831;
    color: whitesmoke;
}

.fifth {
    background-image: url("/src/images/mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 50%;
}

.introduction-button {
    margin: 10% 0 0 0;
}

.footer {
    display: flex;
    padding: 64px;
    background-color: #37414f;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}


@media (max-height: 900px) {
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1.5rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1.5rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }

    .fourth {
        order: 2;
    }
    .fifth {
        order: 1;
    }
}

@media only screen and (max-width: 1100px){
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1.5rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1.5rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }

    .fourth {
        order: 2;
    }
    .fifth {
        order: 1;
    }
}

@media only screen and (max-width: 800px){
    .header {
        text-align: center;
        padding: 16px;
        font-size: 1rem;
    }

    .introduction {
        text-align: center;
        padding: 8px;
        font-size: 1rem;
    }
    .boxes {
        display: flex;
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }

    .fourth {
        order: 2;
    }
    .fifth {
        order: 1;
    }
}